name: Keep Alive

on:
  schedule:
    # Runs every 10 minutes
    - cron: '*/12 * * * *'
  workflow_dispatch:

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Status Endpoint
        run: |
          curl -f https://toby-erxs.onrender.com/status || exit 0
